<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resume</title>
  <script src="https://unpkg.com/feather-icons"></script>
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  <div class="container">
    <div class="profile">
      <div class="profile_container">
        <div class="profile_profileImg">
          <img src="static/images/profileimage.jpeg" alt="shuaibu ahmed">
        </div>
        <div>
          <h1 class="profile_name">
            <span class="profile_name">Shuaibu Baba Ahmed</span>
          </h1><br>
          <p class="profile_title">System Administrator</p>
          <p class="description profile_description">
            Well driven and goal-oriented IT Specialist with years of experience with a wide variety of professional experience, passionate about information technology and educating the next generation of technology users and innovators.
          </p>

          <a href="static/SHUAIBU_BABA_AHMED_CV.pdf" download>
          <button type="button" class="downloadBtn" >Download Resume</button>
        </a>

        </div>
      </div>
    </div>


    <div class="group-1">
        <div class="exp_item">
          <h3 class="title">Experience</h3> <br>
          <p class="item_preTitle">April 2021 - Present</p>
          <h4 class="item_title">Exaro Enterprise Solutions, Bauchi, Nigeria.</h4>
          <p class="item_subtitle">System Administrator</p>
            <ul class=" description">
              <li>Managing and maintaining hardware inventory</li>
              <li>Managing network performance through monitoring and app prioritization</li>
              <li>Assisted configuring networking equipment both ethernet and WI-FI </li>
              <li>Providing help desk support to end-users, including troubleshooting, server support and customerservice</li>
              <li>Training users and agents how to use software and applications</li>
            </ul>
          </div>
        <div class="exp_item">
          <p class="item_preTitle">March – May 2021</p>
          <h4 class="item_title">Bauchi State Health Contributory Management Agency (BASHCMA), Bauchi, Nigeria.</h4>
          <p class="item_subtitle">Enrollment Officer</p>
          <ul class=" description">
            <li>Enrollment of Basic Health Care Provision Fund (BHCPF) vulnerable into National Health Insurance(NHIS) database</li>
          </ul>
        </div>
            <div class="exp_item">
        <p class="item_preTitle">2019 - present</p>
        <h4 class="item_title">National Agency for Food and Drug Administration and Control (NAFDAC),
          Kano, Nigeria</h4>
        <p class="item_subtitle">National Youth Service Corps (NYSC) IT Intern</p>
        <ul class=" description">
          <li>Consulted and translated actual databases into new platform as well backing up data during process</li>
          <li>Installation and maintenance of hardware and software</li>
          <li>Diagnosed successfully and resolved hardware and software issues on user workstation and devices </li>
          <li>Fulfilled general duties such as checking, verifying and processing client’s data and information</li>
        </ul>
      </div>
      <div class="exp_item">
        <p class="item_preTitle">2019 - 2020</p>
        <h4 class="item_title">Romi Kitchen Pride, Kano, Nigeria</h4>
        <p class="item_subtitle">Store Manager</p>
        <ul class=" description">
          <li>Website design, creation and maintenance.</li>
          <li>Inventory management.</li>
          <li>Customer service</li>
        </ul>
      </div>
      <div class="exp_item">
        <p class="item_preTitle">May 2019 - August 2019</p>
        <h4 class="item_title">Ralph soft and co Dubai, UAE</h4>
        <p class="item_subtitle">Frontend design intern </p>
        <ul class=" description">
          <li>Interactive user centered designs delivering innovative concepts, wireframes, low and high fidelity</li>
          <li>Developed user interfaces and interaction flows of a health software application</li>
          <li>Logo design </li>
        </ul>
      </div>
      <div class="exp_item">
        <p class="item_preTitle">May 2019 - August 2019</p>
        <h4 class="item_title">Ralph soft and co Dubai, UAE</h4>
        <p class="item_subtitle">Frontend design intern </p>
        <ul class=" description">
          <li>Interactive user centered designs delivering innovative concepts, wireframes, low and high fidelity</li>
          <li>Developed user interfaces and interaction flows of a health software application</li>
          <li>Logo design </li>
        </ul>
      </div>
      <div class="exp_item">
        <p class="item_preTitle">July 2018 - August 2018</p>
        <h4 class="item_title">Management Edge Abuja, Nigeria.</h4>
        <p class="item_subtitle">IT Intern </p>
        <ul class=" description">
          <li>Assisted in installation and configuration of security cameras</li>
                  <li>Assisted in installation and maintenance of network peripherals</li>
                  <li>Designed new Logos, Flyers, ads and banners for upcoming promotions increasing page visit</li>
                  <li>Installed and maintained hardware and software components on computer stations and IT equipment</li>
                  <li>Data Entry for clients Admin Panel </li>
      
                </ul>
      </div>
      <div class="exp_item">
        <p class="item_preTitle">June 2017 - August 2017</p>
        <h4 class="item_title">Independent National Electoral commission (INEC) Kano, Nigeria.</h4>
        <p class="item_subtitle">IT Intern </p>
        <ul class=" description">
          <li>Data collection from multiple sources and stored into a single location ensuring the information is stored</li>
                  <li>effectively and securely in the main server to enable effective data analysis</li>
                  <li>Handled support tickets with software and hardware, evaluated, determined root cause and collaborated with technical support to ensure 100% problem resolution</li>
                  <li>Registered new voters and updated existing ones</li>
                  <li>Storing information and backing it up on the system </li>
                  <li>Maintaining and updating the database </li>
                </ul>
      </div>
     
    </div>




    <div class="group-2">
      <div class="exp">
      
        <div class="skills">
          <h3 class="title">Expertise</h3><br>
          <ul class="skills_list description">
            <li>Assembly, Maintenance, Drivers and Troubleshooting</li>
            <li>Configuration, Servers, Routers, LAN Technology</li>
            <li>HTML CSS</li>
            <li>Python Django</li>
            <li>Installation, Adobe XD, VM Ware, Wireshark Microsoft windows, MacOS, Linux</li>
          </ul>
        </div>
        <br>
        <div class="edu">
          <h3 class="title">Education</h3>
          <div class="edu_item">
            <p class="item_preTitle">2019</p>
            <h4 class="item_title">B.Sc. (Hons) Computer in Information Technology</h4>
            <p class="item_subtitle">Rochester Institute of Technology New York, Dubai campus.
            </p>
          </div>
          <div class="edu_item">
            <p class="item_preTitle">2012</p>
            <h4 class="item_title">Senior Secondary School Certificate</h4>
            <p class="item_subtitle">Air Force Military School Jos Nigeria.</p>
          </div>
           <div class="edu_item">
            <p class="item_preTitle">2006</p>
            <h4 class="item_title">Primary School Certificate</h4>
            <p class="item_subtitle">Yanduste Nursery and Primary School, kano Nigeria.</p>
          </div>
        </div>
        <br>
        <div class="certification">
          <h3 class="title">certification</h3>
          <div class="certification_item">
            <p class="item_preTitle">2020</p>
            <h4 class="item_title">National Youth Service Corps.</h4>
             <p class="item_preTitle">2013</p>
            <h4 class="item_title">Diploma in Information Technology Training.</h4>
            <p class="description">Hand on Information Technology, Kano Nigeria.</p>
            <p class="item_preTitle">2009</p>
            <h4 class="item_title">Certificate in Information Technology Training.</h4>
            <p class="description">Hand on Information Technology, Kano Nigeria.</p>
          </div>
          <br>
          <div class="projects">
            <h3 class="title">Projects</h3>
                    <div class="projects_item">
              <p class="item_preTitle">2018</p>
              <h4 class="item_title">RAPIDS CEMETERY.</h4>
              <p class="description">
                Worked with a local non-profit organization to gather requirements for an application that will help encourage
                people to visit a local cemetery in addition to the other historical locations in the area.
                
              </p>
              <p class=" description">
                Designed and implemented the database for the project (MySQL). Our sponsors would like to create an
experience where the users can interact with the area and learn about the people, native plants, and other events
that have and will occur in the area. Next semester we will build these applications and compete with other
teams for a chance to be selected as the project our sponsors will implement.
              </p>
            </div>
          </div>
          <br>
          <div class="interest">
            <h3 class="title">Interest</h3>
            <div class="interest_items">
              <div class="interest_item">
                <i data-feather="monitor"></i>
                <span>Gaming</span>
              </div>
              <div class="interest_item">
                <i data-feather="book"></i>
                <span>Blockchain</span>
              </div>
              <div class="interest_item">
                <i data-feather="activity"></i>
                <span>Football</span>
              </div>
            </div>
          </div>
          <br>
          <div class="ref">
            <h3 class="title">Reference</h3>
            <div class="ref_item">
              <h4 class="ref_name">DR Mansur Mustapha Dada</h4>
              <p class="description">Bauchi State Health Contributory Management Agency. 08034508669</p>
            </div>
            <div class="ref_item">
              <h4 class="ref_name">Ralph Vreman</h4>
              <p class="description">Ralphsoft and co.
                Rvreman@ralphsoft.com</p>
            </div>
            <div class="ref_item">
              <h4 class="ref_name">Air Commodore AT Baba (RTD)</h4>
              <p class="description">Nigerian Air Force. No 2 Ali Gantsa street faraway new layout Kano. 08035905485</p>
            </div>
          </div>
    
        </div>
      </div>
    </div>
   
    <hr>
    <div class="group-3">
      <div class="contact">
        <h3 class="title">Contact</h3>
        <div class="contact_info">
          <p class="description">
            No2 Ali Gantsa Street Mariri Faraway New Layout, Kano.          </p>
          <p class="description">
            +2349021611147
          </p>
          <p class="description">shuaibuahmed5@gmail.com</p>
        </div>
      </div>
      <div class="social">
        <h3 class="title">Socials</h3>
        <div class="social_items">
          <a href="https://github.com/shibit" target="_b" class="social_item">
            <i data-feather="github"></i>
            <span>/shuaibuahmed</span>
          </a>
                <a href="https://www.linkedin.com/in/shuaibu-ahmed-27782397" target="_blank" class="social_item">
            <i data-feather="linkedin"></i>
            <span>/shuaibuahmed</span>
          </a>
        </div>
      </div>
    </div>


  </div>
  <script>
    feather.replace()
  </script>
</body>

</html>
